<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<tr>
    <td>
        <p>Tapastic</p>
        {% for comic_data in tapas_titles %}
            <a href="http://{{comic_data['link']}}">
                {{comic_data['title']}} by {{comic_data['author']}}
                <img src="{{comic_data['image_icon']}}" width="100px"></img>
            </a>
            <p></p>
        {% endfor %}
    </td>
    <td>
        <p>Webtoons</p>
        {% for comic_data in tapas_titles %}
            <a href="{{comic_data['url']}}">
                {{comic_data['title']}} by {{comic_data['author']}}
                <img src="{{comic_data['image_icon']}}" width="100px"></img>
            </a>
            <p></p>
        {% endfor %}
    </td>
</tr>
</body>
</html>